<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Тестовое задание</title>

    <!-- Bootstrap -->
     <link href="css/bootstrap.min.css" rel="stylesheet"> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 
  </head>
  <body ng-app="sortApp" ng-controller="mainController">
    <h1>Тестовое задание</h1>
  <script src="js/angular.min.js"></script>
  <script src="js/app_sort.js"></script>






   <table class="table table-hover">
        <thead>
            <tr>
                <th>
                 <a href="#" ng-click="sortType = 'country'; sortReverse = !sortReverse">
                  Страна
                  <span ng-show="sortType == 'country' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'country' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th> 
                
                <th>
                 <a href="#" ng-click="sortType = 'city'; sortReverse = !sortReverse">
                  Город
                  <span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                
                <th>
                 <a href="#" ng-click="sortType = 'street'; sortReverse = !sortReverse">
                  Улица
                  <span ng-show="sortType == 'street' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'street' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th> 
                
                <th>
                 <a href="#" ng-click="sortType = 'home'; sortReverse = !sortReverse">
                  Дом
                  <span ng-show="sortType == 'home' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'home' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th> 
                
                <th>
                 <a href="#" ng-click="sortType = 'index'; sortReverse = !sortReverse">
                  Индекс
                  <span ng-show="sortType == 'index' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'index' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                
                <th>
                 <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                  Дата
                  <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr  ng-repeat="dat in database | orderBy:sortType:sortReverse">
                <td>{{dat.country}}</td>
                <td>{{dat.city}}</td>
                <td>{{dat.street}}</td>
                <td>{{dat.home}}</td>
                <td>{{dat.index}}</td>
                <td>{{dat.date}}</td>
            </tr>

        </tbody>
    </table>



		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="pagination">
					<li><a href="#">&lt;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&gt;</a></li>
				</ul>
			</div>
		</div>


		
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
